.mainContainer {
  height: 100vh;
  display: flex;
}
.groupArea {
  width: 21vw;
  position: relative;
}
.notesArea {
  width: 79vw;
}
.addGroupBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #16008b;
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  font-size: 4rem;
  cursor: pointer;
}
/* Styles for mobile view */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
  .groupArea {
    width: 100%;
    height: 100%;
  }
  .notesArea {
    display: none;
    width: 100%;
    height: 100%;
  }
  .noteAreaShown .groupArea {
    display: none;
  }
  .noteAreaShown .notesArea {
    display: block;
  }
  .groupAreaHidden .groupArea {
    display: none;
  }
}
